db_java/.gradle
db_java/.idea
db_java/build
db_java/.vscode

db_kotlin/.gradle
db_kotlin/.idea
db_kotlin/build
db_kotlin/.vscode

db_python/.idea
db_python/.vscode
db_python/__pycache__
db_python/.venv


db_typescript/node_modules
db_typescript/node_modules/*
db_typescript/.vscode